.wrapper {
    width: 70%;
    margin: 0 auto;

    @media (max-width: 767.98px) { 
        & {
            width: 100%;
        }
    }
}

table {
    width: 100%;

    /deep/ tbody {
        tr {
            cursor: pointer;
            transition: background .2s;
    
            &:hover {
                background: #eeeeee;
            }
        }
    }
    
    td {
        padding-right: 10px;
        outline: none;
    }

    
    .mat-icon-button {
        transition: background .2s;
    
        &:hover {
            background: rgb(246, 246, 246);
        }
    }
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}