.doc-header {
    & > span {
        margin-right: 16px;
    }
}

.print-icon {
    color: rgb(103, 103, 255);
}

.mat-icon-button {
    transition: background .2s;

    &:hover {
        background: rgba(221, 221, 221, 0.8);
    }
}

@media print {
    .mat-elevation-z8 {
        box-shadow: none !important;
    }
}

table {
    width: 100%;    
    
    td {
        padding-right: 10px;
    }

    mat-icon { 
        cursor: pointer 
    }

    .mat-icon-button {
        transition: background .2s;
    
        &:hover {
            background: rgba(236, 236, 236, 0.6);
        }
    }

}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}