@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/utilities";

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
}

button {
    outline: none !important;
}


